<% if params[:message] %>

<div class="p-4 rounded bg-blue-800 text-white mb-4">
  <%= params[:message] %>
</div>

<% end %>
<div class="p-4 rounded bg-gray-100 ">
  This content was loaded remotely using htmx. Click on the Network tab in your developer tools to see the incoming response.
</div>