<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonyennis145/dumb-tailwind@69b2513/dist/tailwind.css" />
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/lota-grotesque-alt-1">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Lota Grotesque', sans-serif;
        }
    </style>
</head>

<body class="overflow-hidden ">
    <section class="flex items-center justify-center w-screen min-h-screen ">
        <div class="relative flex flex-col items-stretch justify-start w-full min-h-screen sm:w-2/3 sm:max-w-2xl sm:justify-start ">
            <div style="background-color: rgba(0, 0, 0, 0.495);" class="  flex justify-center items-center z-10 w-screen overflow-y-scroll sm:overflow-y-hidden fixed top-0 left-0  min-h-screen pt-0    ">
               <div class="relative flex flex-col items-center justify-center pb-14 px-8 pt-5 sm:pt-0  text-gray-600 bg-white border  top-24 sm:top-0 sm:bottom-0  sm:mt-auto sm:mb-auto space-y-8 sm:max-w-2xl  ">
                <div class="h-1.5 rounded-2xl w-20 bg-gray-300 sm:hidden"></div>
                <svg class="self-end cursor-pointer hidden sm:block" width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.6297 13.5781C15.0688 14.0173 15.0688 14.7298 14.6297 15.1691C14.1905 15.6083 13.478 15.6082 13.0387 15.1691L7.49999 9.58906L1.92186 15.1672C1.48269 15.6064 0.770145 15.6064 0.330926 15.1672C-0.108293 14.728 -0.108246 14.0155 0.330926 13.5762L5.91093 8L0.329379 2.37968C-0.109793 1.94051 -0.109793 1.22797 0.329379 0.788747C0.768551 0.349528 1.4811 0.349575 1.92032 0.788747L7.49999 6.41093L13.0781 0.832809C13.5173 0.393637 14.2298 0.393637 14.6691 0.832809C15.1083 1.27198 15.1082 1.98453 14.6691 2.42375L9.08905 8L14.6297 13.5781Z" fill="#409384"/>
                    </svg>
                    
                <img src="./images/search image.svg" alt="">
                <h1 class="self-start text-3xl font-semibold">We are currently verifying your documents.</h1>
                <div class="self-start">
                    <h4 class="pb-2 text-xl font-semibold">What is Verification?</h4>
                    <p> Verification is the process of reviewing all the information and documents you submitted to us. This is done to ensure that your information with us is accurate.  </p>
                </div>
                <div class="self-start">
                    <h4 class="pb-2 text-xl font-semibold">What happens during Verification?</h4> 
                       <p>If we find any information and/or document to be inaccurate, we will advise you about the information or document that needs re-submission and how to do so. Can I still use my account during Verification? Yes, you can. You will still be able to add funds, but the amount will be credited to your account only after verification.</p>
                </div>
                <div class="self-start">
                    <h4 class="pb-2 text-xl font-semibold"> Can I still use my account during Verification?</h4>
                    <p>Yes, you can. You will still be able to add funds, but the amount will be credited to your account only after verification.</p>
                </div>
                <a href="./4 otp.html"
                    class="flex items-center justify-center w-full py-3 space-x-2 font-bold text-center text-white transition-all bg-yellow-400 rounded-full  sm:py-3 sm:w-80 hover:bg-yellow-500">
 
                    <span>
                        Got It
                    </span>
                </a>
               </div>

            </div>
            <div style="background-color: #409384;"
                class="relative flex items-center justify-center w-full pb-8 pt-14">
                <img src="./images/logo.png" alt="">
            </div>
            <div style="background-color: #6fada6;" class="w-full px-10 py-6 text-white">
                <div class="space-y-3">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                            <svg class="mr-3" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M12 0C5.37097 0 0 5.37097 0 12C0 18.629 5.37097 24 12 24C18.629 24 24 18.629 24 12C24 5.37097 18.629 0 12 0ZM12 4.64516C14.3226 4.64516 16.2581 6.58064 16.2581 8.90323C16.2581 11.2742 14.3226 13.1613 12 13.1613C9.62903 13.1613 7.74194 11.2742 7.74194 8.90323C7.74194 6.58064 9.62903 4.64516 12 4.64516ZM12 21.2903C9.14516 21.2903 6.58064 20.0323 4.8871 18C5.80645 16.3065 7.59677 15.0968 9.67742 15.0968C9.77419 15.0968 9.87097 15.1452 10.0161 15.1935C10.6452 15.3871 11.2742 15.4839 12 15.4839C12.6774 15.4839 13.3548 15.3871 13.9355 15.1935C14.0806 15.1452 14.1774 15.0968 14.3226 15.0968C16.3548 15.0968 18.1452 16.3065 19.0645 18C17.371 20.0323 14.8065 21.2903 12 21.2903Z"
                                    fill="white" />
                            </svg>
                            <span>Hi, Bea!</span>
                        </div>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.228 7C6.777 5.835 8.258 5 10 5C12.21 5 14 6.343 14 8C14 9.4 12.722 10.575 10.994 10.907C10.452 11.011 10 11.447 10 12M10 15H10.01M19 10C19 11.1819 18.7672 12.3522 18.3149 13.4442C17.8626 14.5361 17.1997 15.5282 16.364 16.364C15.5282 17.1997 14.5361 17.8626 13.4442 18.3149C12.3522 18.7672 11.1819 19 10 19C8.8181 19 7.64778 18.7672 6.55585 18.3149C5.46392 17.8626 4.47177 17.1997 3.63604 16.364C2.80031 15.5282 2.13738 14.5361 1.68508 13.4442C1.23279 12.3522 1 11.1819 1 10C1 7.61305 1.94821 5.32387 3.63604 3.63604C5.32387 1.94821 7.61305 1 10 1C12.3869 1 14.6761 1.94821 16.364 3.63604C18.0518 5.32387 19 7.61305 19 10Z"
                                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <p class="tracking-wide">Available Balance</p>
                    <h4 class="text-4xl font-light tracking-wide">₱ 1,060,000.00</h4>
                    <div class="flex items-center justify-between space-x-6">
                        <button
                            class="bg-green-50 flex items-center justify-center w-1/2 rounded-full py-2.5 text-green-600 space-x-2">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.41663 9.66675V10.3334C1.41663 10.8638 1.62734 11.3726 2.00241 11.7476C2.37749 12.1227 2.88619 12.3334 3.41663 12.3334H10.0833C10.6137 12.3334 11.1224 12.1227 11.4975 11.7476C11.8726 11.3726 12.0833 10.8638 12.0833 10.3334V9.66675M9.41663 7.00008L6.74996 9.66675M6.74996 9.66675L4.08329 7.00008M6.74996 9.66675V1.66675"
                                    stroke="#409384" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="relative top-0.5">
                                Add Funds
                            </span>
                        </button>
                        <button
                            class="bg-green-50 flex items-center justify-center rounded-full py-2.5 text-green-600 space-x-2 w-1/2">

                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.41663 9.66675V10.3334C1.41663 10.8638 1.62734 11.3726 2.00241 11.7476C2.37749 12.1227 2.88619 12.3334 3.41663 12.3334H10.0833C10.6137 12.3334 11.1224 12.1227 11.4975 11.7476C11.8726 11.3726 12.0833 10.8638 12.0833 10.3334V9.66675M9.41663 4.33341L6.74996 1.66675M6.74996 1.66675L4.08329 4.33341M6.74996 1.66675V9.66675"
                                    stroke="#409384" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>

                            <span class="relative top-0.5">
                                Withdraw Funds
                            </span>
                        </button>
                    </div>
                </div>


            </div>
            <div style="background-color: #def7ec;" class="p-6 space-y-3">
                <div class="flex items-stretch justify-between p-6 bg-white rounded shadow-md">
                    <div class="mr-5 ">
                        <img class="w-24" src="./images/flower.png" alt="">
                    </div>
                    <div class="flex flex-col items-start justify-between ">
                        <p class="font-light text-gray-90000 leading-loosetracking-wide">Get a 0.5% interest rate
                            increase for EVERY referral on ALL time deposits!</p>
                        <a class="font-bold text-green-600" href="#">Read The Mechanics</a>
                    </div>
                </div>
                <div class="flex items-stretch justify-between p-6 bg-white rounded shadow-md">
                    <div class="mr-5 ">
                        <img class="w-24" src="./images/flower.png" alt="">
                    </div>
                    <div class="flex flex-col items-start justify-between ">
                        <p class="font-light text-gray-90000 leading-loosetracking-wide">Get a 0.5% interest rate
                            increase for EVERY referral on ALL time deposits!</p>
                        <a class="font-bold text-green-600" href="#">Read The Mechanics</a>
                    </div>
                </div>
            </div>

            <div style="background-color: #6fada6;" class="w-full px-10 py-6 text-white">   
                <div class="space-y-3">
                    <div class="flex items-center justify-start space-x-3">

                        <span>My Time Deposits</span>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.228 7C6.777 5.835 8.258 5 10 5C12.21 5 14 6.343 14 8C14 9.4 12.722 10.575 10.994 10.907C10.452 11.011 10 11.447 10 12M10 15H10.01M19 10C19 11.1819 18.7672 12.3522 18.3149 13.4442C17.8626 14.5361 17.1997 15.5282 16.364 16.364C15.5282 17.1997 14.5361 17.8626 13.4442 18.3149C12.3522 18.7672 11.1819 19 10 19C8.8181 19 7.64778 18.7672 6.55585 18.3149C5.46392 17.8626 4.47177 17.1997 3.63604 16.364C2.80031 15.5282 2.13738 14.5361 1.68508 13.4442C1.23279 12.3522 1 11.1819 1 10C1 7.61305 1.94821 5.32387 3.63604 3.63604C5.32387 1.94821 7.61305 1 10 1C12.3869 1 14.6761 1.94821 16.364 3.63604C18.0518 5.32387 19 7.61305 19 10Z"
                                stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                    <h4 class="text-4xl font-light tracking-wide">₱ 1,060,000.00</h4>
                    <div class="flex justify-between font-light">
                        <p>Interest Rate 6% p.a.</p>
                        <p>Bonus Rate 0.5% p.a.</p>
                    </div>

                </div>


            </div>

            <div class="flex items-center justify-center">
                <div class="w-1/2 py-3 text-lg text-center text-yellow-400 border-b-4 border-yellow-400 cursor-pointer">Open</div>
                <div class="w-1/2 py-3 text-lg text-center border-none cursor-pointer">Matured</div>
            </div>

            <div class="flex items-center justify-center w-full px-8 py-8">
                <!-- <a href="#" class="block w-full py-3 font-bold text-center text-white bg-gray-300 rounded-full sm:py-3 sm:w-80">Next</a> -->
                <a href="./4 otp.html"
                    class="flex items-center justify-center w-full py-3 space-x-2 font-bold text-center text-white transition-all bg-yellow-400 rounded-full  sm:py-3 sm:w-80 hover:bg-yellow-500">
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.5 4V8M8.5 8V12M8.5 8H12.5M8.5 8H4.5" stroke="white" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <span>
                        Start new time deposit
                    </span>
                </a>

            </div>

            <div>
                <div class="flex items-start justify-between">

                </div>
            </div>

        </div>
    </section>
</body>

</html>