<% errors = local_assigns[:errors] || [] %>
<% step = local_assigns[:step] || 'deposit_slip' %>

<div class="w-full h-full">
						
  <div class="w-full inline-flex">
    <p class="text-gray-600 text-base font-semibold leading-normal">
      Deposit
      <span class="font-farmbank-teal text-base font-semibold leading-normal">
      ₱<span id="deposit-amount"><%=@transaction.amount%></span> 
      </span>
      to the account below:
    </p>
  
  </div>
  <div class="bg-farmbank-green-100 w-full mt-8 px-5 py-6 rounded-3xl justify-start items-start gap-2 inline-flex">
    <div class="text-gray-600 text-base font-normal leading-normal">
      <span>Bank<br/></span>
      <span class="font-semibold">Netbank<br/></span>
      <span><br/>Account Number<br/></span>
      <span class="font-semibold">038-000-00056-1<br/></span>
      <span><br/>Account Name<br/></span>
      <span class="font-semibold">Farmbank</span>
    </div>
  </div>
  <div class="w-full mt-8">

    <label class="no-style relative text-base text-gray-500 " for="deposit-slip">
      <span class="text-gray-600 text-base font-semibold leading-normal">Upload your proof of payment <br/></span>
      <span class="text-gray-600 text-base font-normal leading-normal">(ex. physical deposit slip or transfer screenshot)</span>
    
      <div class="input-container relative w-full pb-2 mt-4 border-2 outline-none focus:border-blue-100 focus:border">
        <input _="on change remove .bg-gray-300 .cursor-not-allowed from #confirm-transaction-button then add .bg-farmbank-yellow .hover:bg-yellow-500 to #confirm-transaction-button" name="transaction[deposit_slip]" class="dropzone cursor-pointer w-full p-4 relative z-10 h-full pl-3" type="file" id="deposit-slip">
        <div class=" text-white px-3 bg-farmbank-teal absolute z-20 top-0 left-0 cursor-pointer h-full flex flex-col justify-center items-center">
          Choose files	
        </div>
      </div>
      <div class="w-full mt-2 mb-6 sm:mb-0 text-gray-500 text-xs font-normal leading-none">PNG, JPG or PDF</div>
    </label>
  </div>
  
  <div class="flex items-center justify-center w-full px-8 py-8 border-t sm:border-t-0 ">
    <button
      _="on click if #deposit-slip.value.length < 1 halt"
      id="confirm-transaction-button"
      type="submit"
      hx-post="<%=add_funds_path %>"
      hx-target="#page-2"
      hx-encoding='multipart/form-data'
      hx-trigger="click"
      class="no-style cursor-pointer block w-full py-3 font-bold text-center text-white transition-all bg-gray-300 cursor-not-allowed rounded-full sm:py-3 sm:w-80 ">
        Confirm
    </button>
  </div>
</div>