<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/lota-grotesque-alt-1">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Lota Grotesque', sans-serif;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonyennis145/dumb-tailwind@69b2513/dist/tailwind.css" />
</head>

<body>
    <section style="background-color: #409384;" class="flex items-center justify-center w-screen min-h-screen ">
        <div class="flex flex-col items-center justify-center w-full min-h-screen sm:w-2/3 sm:max-w-xl  text-white text-center space-y-12 font-light px-12">
             <img src="./images/success.svg" alt="">
             <p>You've added ₱ 300,000.00 to your account.</p>
             <p>Pending successful verification, your funds should appear in your Available Balance in 1-2 business days.</p>
                <!-- <a href="#" class="block w-full py-3 font-bold text-center text-white bg-gray-300 rounded-full sm:py-3 sm:w-80">Next</a> -->
                <a href="./15 signature specimen.html"
                    class="block  py-3 font-bold text-center text-white transition-all bg-yellow-400 rounded-full sm:py-3 w-80 hover:bg-yellow-500 ">Next</a>

        </div>
    </section>
</body>

</html>