<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/lota-grotesque-alt-1">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Lota Grotesque', sans-serif;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonyennis145/dumb-tailwind@69b2513/dist/tailwind.css" />
</head>

<body>
    <section class="flex items-center justify-center w-screen min-h-screen sm:bg-gray-100 ">
        <div class="flex flex-col items-center justify-start w-full min-h-screen sm:w-2/3 sm:max-w-xl sm:justify-start ">
            <div class="flex items-center justify-between w-full px-8 pb-8 pt-14 sm:px-0">
                <svg class="cursor-pointer " width="12" height="22" viewBox="0 0 12 22"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.26963 20.6933L0.686817 11.7355C0.477332 11.5187 0.373316 11.2377 0.373316 10.9578C0.373316 10.678 0.477332 10.3967 0.686817 10.1802L9.26963 1.22234C9.69863 0.772625 10.4106 0.758001 10.8587 1.18866C11.3099 1.61639 11.3245 2.33147 10.8924 2.77819L3.01738 11.0001L10.891 19.1375C11.3232 19.5828 11.3085 20.2991 10.8573 20.727C10.4092 21.1578 9.69619 21.1428 9.26963 20.6933Z"
                        fill="#409384" />
                </svg>
                <h1 class="text-3xl font-semibold text-gray-700">Time Deposit 03</h1>


                <svg class="cursor-pointer" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6.228 7C6.777 5.835 8.258 5 10 5C12.21 5 14 6.343 14 8C14 9.4 12.722 10.575 10.994 10.907C10.452 11.011 10 11.447 10 12M10 15H10.01M19 10C19 11.1819 18.7672 12.3522 18.3149 13.4442C17.8626 14.5361 17.1997 15.5282 16.364 16.364C15.5282 17.1997 14.5361 17.8626 13.4442 18.3149C12.3522 18.7672 11.1819 19 10 19C8.8181 19 7.64778 18.7672 6.55585 18.3149C5.46392 17.8626 4.47177 17.1997 3.63604 16.364C2.80031 15.5282 2.13738 14.5361 1.68508 13.4442C1.23279 12.3522 1 11.1819 1 10C1 7.61305 1.94821 5.32387 3.63604 3.63604C5.32387 1.94821 7.61305 1 10 1C12.3869 1 14.6761 1.94821 16.364 3.63604C18.0518 5.32387 19 7.61305 19 10Z"
                        stroke="#409384" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

            </div>  
            <form class="flex flex-col items-center justify-start w-full h-full px-8 mb-auto sm:mb-0 sm:shadow sm:py-7 sm:bg-white sm:h-auto sm:rounded-md">
                <h1 class="self-start mb-5 text-2xl font-bold leading-relaxed tracking-wide text-gray-700">Are you sure uou want to withdraw Time Deposit 03 before it matures?</h1>
                <p class="self-start font-light">This time deposit will already mature in <br> <span class="font-normal">4 months and 3 weeks</span> </p>
                <div style="background: #fde8e8;" class="flex flex-col items-start justify-center w-full p-6 mt-5 space-y-5 rounded-3xl">
                    <h3 class="font-light tracking-wide ">Lorem ipsum dolor sit amet consectetur adipisicing: <br><span class="font-normal" >600,000.00</span></h3>
       
                </div>  

            </form>
            <div class="flex flex-col items-center justify-center w-full px-8 py-8 space-y-4 border-t">
                <!-- <a href="#" class="block w-full py-3 font-bold text-center text-white bg-gray-300 rounded-full sm:py-3 sm:w-80">Next</a> -->
                <a href="./15 signature specimen.html"
                    class="block w-full py-3 font-bold text-center text-white transition-all bg-yellow-400 rounded-full sm:py-3 sm:w-80 hover:bg-yellow-500 ">Keep this time deposit</a>
                    <a href="#" class="text-gray-600 underline">Withdraw Early</a>

            </div>
        </div>
    </section>
</body>

</html>