<!-- add h-screen to show menu, and h-28 to hide menu  -->
<!-- <header class="relative h-screen px-5 bg-green-600 md:px-14 sm:h-auto"> -->
<header class="bg-farmbank-teal flex items-center justify-center ">
  <div class="w-full px-5 h-28 md:px-16 sm:h-auto">
    <%=render partial: 'shared/navbar'%>

    <hr style="height: 1px;" class="absolute left-0 hidden w-full bg-farmbank-dark-teal border-0 border-none outline-none sm:block top-28" />
    <!-- add flex to show menu, and hidden to hide menu  -->
    <div class="flex-col items-center justify-between hidden py-10 sm:flex h-5/6 sm:h-auto sm:py-5">
      <!-- <div class="flex flex-col items-center justify-between py-10 sm:flex h-5/6 sm:h-auto sm:py-5 "> -->
      <nav class="flex flex-col items-center justify-start w-full mt-10 space-y-10 sm:flex-row sm:space-y-0 sm:m-0">
        <a _="on click remove .border-b-4 .border-farmbank-green-200 .font-farmbank-green-200 from .nav-item if it is not me then add .border-b-4 .border-farmbank-green-200 .font-farmbank-green-200 to me" href="<%=root_path%>" class="nav-item text-xl font-semibold tracking-wide text-white sm:mr-8 font-farmbank-green-200 border-b-4 border-farmbank-green-200">Home</a>
        <a _="on click remove .border-b-4 .border-farmbank-green-200 .font-farmbank-green-200 from .nav-item if it is not me then add .border-b-4 .border-farmbank-green-200 .font-farmbank-green-200 to me" href="<%=root_path + '#about-us'%>" class="nav-item text-xl font-semibold tracking-wide text-white sm:mr-8">About Us</a>
        <a _="on click remove .border-b-4 .border-farmbank-green-200 .font-farmbank-green-200 from .nav-item if it is not me then add .border-b-4 .border-farmbank-green-200 .font-farmbank-green-200 to me" href="<%=root_path + '#faqs'%>" class="nav-item text-xl font-semibold tracking-wide text-white sm:mr-8">FAQs</a>
        
        
        <a href="#" class="hidden text-xl font-semibold tracking-wide text-white sm:ml-auto">Help</a>
      </nav>
    </div>
  </div>
</header>