.flex.text-lg

  %a.px-3.py-2{href:new_user_session_path,class:"#{current_page?(new_user_session_path) ? 'font-semibold' : 'text-gray-500 hover:text-black'}" }
    Sign In 

  %a.px-3.py-2{href:new_user_registration_path,class:"#{current_page?(new_user_registration_path) ? 'font-semibold' : 'text-gray-500 hover:text-black'}"}
    Sign Up