<input type="hidden" name="kyc_onboarding[validation_set]" value="referral_program_start" />


<img class="w-96 h-auto mx-auto" src="/images/sammy-man-and-woman-walking.png" alt="Man and woman walking">
<h1 class="text-4xl font-semibold leading-relaxed text-center">Were you referred to Farmbank?</h1>


