<%=render partial: 'shared/header'%>

<section class="bg-gray-50 flex-grow flex flex-col items-center ">

  <div class="flex text-gray-600 flex-col bg-white sm:bg-transparent items-center justify-center w-full py-10 px-6 md:py-20 max-w-7xl px-7">
    <h1 class="text-xl md:text-2xl font-semibold text-center">Cookie Policy</h1>

    <div class="bg-white mt-10 p-6 sm:p-10 rounded-lg w-full sm:w-2/3 sm:shadow">
    
      <div style="line-height: 32px; word-wrap: break-word">
        Our Cookies Policy was last updated on November 13, 2023. <br/><br/>
 
        This Cookies Policy explains what Cookies are and how we use them. You should read this policy so you can understand what type of cookies We use, or the information we collect using Cookies and how that information is used. <br/><br/>
        
        Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from Cookies. For further information on how we use, store and keep your personal data secure, see our Privacy Policy.<br/><br/>
        
        We do not store sensitive personal information, such as mailing addresses, account passwords, etc. in the cookies we use.<br/><br/>

        <b>The use of the Cookies</b><br/>
        We use cookies for the following purposes:

        <ol class="list-decimal pl-10">
          <li>To provide you services and to enable you to use features of our website. They help to authenticate users and prevent fraudulent use of user accounts. Without these cookies, the services that you have asked for cannot be provided, and We only use these Cookies to provide you with those services.</li>
          <li>To  allow us to remember choices you make when you use the Website, such as remembering your login details or language preference. This will allow us to provide you with a more personal experience and to avoid you having to re-enter your preferences every time you use the website.</li>
          <li>To allow us to track information about traffic to the website. The information gathered via these cookies may directly or indirectly identify you as an individual visitor, under a pseudonymous identifier associated with the device you use to access the website. We may also use these cookies to test new advertisements, pages, features or new functionality of the website to see how our users react to them.</li>
        </ol>
        <br/><br/>

        <b>Your Choices Regarding Cookies</b><br/>

        If You prefer to avoid the use of Cookies on the website, first You must disable the use of Cookies in your browser and then delete the Cookies saved in your browser associated with this website. You may use this option for preventing the use of Cookies at any time.<br/><br/>
 
        If You do not accept our cookies, You may experience some inconvenience in your use of the Website and some features may not function properly.<br/><br/>
 
        If You'd like to delete Cookies or instruct your web browser to delete or refuse Cookies, please visit the help pages of your web browser.<br/><br/>

        <b>Contact Us</b><br/>
        If you have any questions about this Cookies Policy, You can contact us:
        <ul class="list-disc pl-10">
          <li class="hidden">By visiting this page on our website:</li>
          <li>By sending us an email: <a class="underline font-farmbank-teal" href="mailto:<%=farmbank_support_email%>"><%=farmbank_support_email%></a></li>
        </ul>

      </div>
    </div>
  </div>

</section>

<%=render partial: 'shared/footer'%>