<section class="flex items-center justify-center w-screen min-h-screen ">
    <div class="relative flex flex-col items-stretch justify-start w-full min-h-screen sm:w-2/3 sm:max-w-2xl sm:justify-start ">
        <div style="background-color: rgba(0, 0, 0, 0.495);" class="  flex justify-center items-center z-10 w-screen overflow-y-scroll sm:overflow-y-hidden fixed top-0 left-0  min-h-screen pt-0    ">
            <div class="relative flex flex-col items-center justify-center pb-14 px-8 pt-5 sm:pt-0  text-gray-600 bg-white border  top-24 sm:top-0 sm:bottom-0  sm:mt-auto sm:mb-auto space-y-8 sm:max-w-2xl  ">
            <div class="h-1.5 rounded-2xl w-20 bg-gray-300 sm:hidden"></div>
            
            
            <img src="./images/search image.svg" alt="">
            <h1 class="self-start text-3xl font-semibold">We are currently verifying your documents.</h1>
            <div class="self-start">
                <h4 class="pb-2 text-xl font-semibold">What is Verification?</h4>
                <p> Verification is the process of reviewing all the information and documents you submitted to us. This is done to ensure that your information with us is accurate.  </p>
            </div>
            <div class="self-start">
                <h4 class="pb-2 text-xl font-semibold">What happens during Verification?</h4> 
                    <p>If we find any information and/or document to be inaccurate, we will advise you about the information or document that needs re-submission and how to do so. Can I still use my account during Verification? Yes, you can. You will still be able to add funds, but the amount will be credited to your account only after verification.</p>
            </div>
            <div class="self-start">
                <h4 class="pb-2 text-xl font-semibold"> Can I still use my account during Verification?</h4>
                <p>Yes, you can. You will still be able to add funds, but the amount will be credited to your account only after verification.</p>
            </div>
            <a href="<%= app_home_path %>"
                class="flex items-center justify-center w-full py-3 space-x-2 font-bold text-center text-white transition-all bg-yellow-400 rounded-full  sm:py-3 sm:w-80 hover:bg-yellow-500">

                <span>
                    Got It
                </span>
            </a>
            </div>

        </div>
        
    </div>
</section>