<%=render partial: 'shared/header'%>

<section class="bg-gray-50 flex-grow flex flex-col items-center ">

  <div class="flex text-gray-600 flex-col bg-white sm:bg-transparent items-center justify-center w-full py-10 px-6 md:py-20 max-w-7xl px-7">
    <h1 class="text-xl md:text-2xl font-semibold text-center">Privacy Policy</h1>

    <div class="bg-white mt-10 p-6 sm:p-10 rounded-lg w-full sm:w-2/3 sm:shadow">
    
      <div style="line-height: 32px; word-wrap: break-word">
        STATEMENT OF POLICY<br/><br/>
        We are committed to protecting and respecting your privacy rights under Republic Act No. 10173 (the “Data Privacy Act”) and applicable rules and regulations. This Privacy Policy sets out how Farmbank, Inc. (A Rural Bank) (“Farmabank”, “we”, “us”, “our”) along with its respective shareholders, directors, officers, employees, agents, representatives, consultants, and advisors (collectively, “Related Parties”) work with you to ensure that your data is protected throughout all your transactions with us.<br/><br/>
        
        WHO DOES THIS POLICY APPLY TO?<br/><br/>
        This Privacy Policy applies to (i) all persons accessing our website, (ii) communicating with us through our website, platform, or electronic mail, (iii) users and owners of Farmbank accounts, products and services, (iv) persons inquiring about banking products and services with us whether through our website or through electronic mail, (v) persons<br/><br/>
      
        WHAT DATA DO WE COLLECT?<br/><br/>
        We use a variety of personal data types and sources reasonably necessary to provide you with our products and services. The types of personal information we may collect will depend on the nature of your interaction with us and where and how we collect the information, but may include (but are not limited to):
        <ol class="list-decimal pl-10">
          <li>Your name</li>
          <li>Your government-issued personal identification numbers;</li>
          <li>Your contact information (e.g.email, mobile phone number, landline number, residential and office address);</li>
          <li>Any information that, if linked to other information about you, may personally identify you (e.g., your civil status, geographical location, photos, social media handles, professional qualifications or affiliations, etc.);</li>
          <li>Your transaction documents and business history with your business partners; and</li>
          <li>Other information as we may need from time to time.</li>
        </ol><br/><br/>

        WHY DO WE COLLECT DATA:<br/><br/>
        We will collect your data based on any of the following:
        <ol class="list-decimal pl-10">
          <li>Consent you have given to us (whether verbal, written, or clicking a tick-box expressing your consent)</li>
          <li>Necessary to perform our contractual obligations with you</li>
          <li>To allow us to comply with legal requirements, such as but not limited to laws, rules, or regulations, especially those mandated by the Bangko Sentral ng Pilipinas and other relevant regulations</li>
          <li>Legitimate interest as defined under the Data Privacy Act</li>
        </ol><br/><br/>

        HOW DO WE COLLECT DATA?<br/><br/>
        We collect your data whenever you provide them to us, such as when you:
        <ol class="list-decimal pl-10">
          <li>Open an account with us through our website by filling out the account opening form</li>
          <li>Voluntarily send your data to us via email, in writing, through the telephone, or in person</li>
          <li>Request us for information on our products and services</li>
          <li>Provide feedback</li>
        </ol><br/>

        We may also receive your data indirectly from the following sources:
        <ol class="list-decimal pl-10">
          <li>Your duly authorized representative, if any</li>
          <li>Other publicly available sources of information</li>
        </ol><br/>

        If you are giving us personal information as a representative of other persons, you represent and warrant that you secured the consent of other persons before sharing their personal information to us. You also agree that you will indemnify us from any liabilities, damage, claims, costs, charges, and demands of whatever kind or nature in connection with or arising from sharing such personal information to us.<br/><br/>

        HOW DO WE USE YOUR DATA?<br/><br/>
        The data we collect shall be determined according to the nature of your relationship with us. It shall include data to validate your identity, fulfill our contractual obligations, perform transactions, provide services, customer care and support. The purposes for which we use personal information include (but are not limited to):
        <ol class="list-decimal pl-10">
          <li>Complying with know-your-customer (“KYC”) and customer due diligence requirements under applicable laws, rules, and regulations;</li>
          <li>Complying with applicable laws and regulations;</li>
          <li>Improving customer service and engagement or provide ongoing support;</li>
          <li>Complying with our contractual obligations with third parties;</li>
          <li>Protecting your account/s with us; and</li>
          <li>Developing and marketing new products and services that may be of interest to you.</li>
        </ol><br/>
        If we collect your personal information to be used for any other purpose, we will let you know that purpose at the time we collect the information.<br/><br/>

        WHO HAS ACCESS TO DATA WE COLLECT?<br/><br/>
        Your data shall only be accessed by authorized personnel of Farmbank who are required to know your data based on their role. <br/><br/>

        WHAT ARE YOUR RIGHTS?<br/><br/>
        We would like to make sure that you are fully aware of all your data protection rights. You are entitled to the following:
        <ol class="list-decimal pl-10">
          <li>Right to be informed - You have the right to be informed whether your personal data shall be, are being, or have been processed, including the existence of automated decision-making and profiling.</li>
          <li>Right to access - You have the right to obtain confirmation on whether or not data relating to you are being processed.</li>
          <li>Right to object - You shall have the right to object to the processing of your personal data where such processing is based on consent or legitimate interest.</li>
          <li>Right to erasure or blocking - You have the right to request for the suspension, withdrawal, blocking, removal, or destruction of your personal data from our system.</li>
          <li>Right to damages - You have the right to be indemnified for any damages sustained due to inaccurate, incomplete, outdated, false, unlawfully obtained, or unauthorized use of your personal data, taking into account any violation of your right and freedoms as a data subject.</li>
          <li>Right to file a complaint - You have a right to file a complaint with the National Privacy Commission if you feel that your personal information has been misused, maliciously disclosed, or improperly disposed, or that any of your data privacy rights have been violated.</li>
          <li>Right to rectify- You have the right to dispute the inaccuracy or error in your personal data and have us correct the same within a reasonable period of time.</li>
          <li>Right to data portability - You have the right to obtain from us a copy of your personal data and/or have the same transmitted from us to another person, in an electronic or structured format that is commonly used.</li>
        </ol><br/><br/>

        DATA RETENTION <br/><br/>
        We are required by law to keep some types of data for a certain period of time. If there is no longer any need to retain your data, we will destroy or de-identify or anonymize the data. We will only retain your data for as long as necessary to fulfill the purposes for which they have been collected or for as long as may be required or allowed by applicable laws and regulations.<br/><br/>

        HOW DO WE PROTECT YOUR DATA?<br/><br/>
        We implement reasonable and appropriate organizational, technical, and physical measures to protect your data. Any disclosure we make shall be done so on a strictly need-to-know basis only. We can provide you confirmation on what data about you we process, upon your written request. Please note that data review and reproduction may have associated costs that will be for your sole account. <br/><br/>

        OTHER WEBSITES<br/><br/>
        To the extent that our websites may contain links to sites operated by third parties or organizations, those linked websites are not controlled by us and we are not responsible for the data privacy practices or activities of the site operators. Before disclosing your personal information on any linked website or mobile app, we recommend that you examine the data privacy policies, notices, and terms and conditions of use of the website or mobile app. <br/><br/>

        CHANGES TO THIS PRIVACY POLICY<br/><br/>
        We reserve the right to update this Privacy Policy from time to time. Please carefully read the updates to know how the changes in this Privacy Policy may affect you. <br/><br/>

        CONTACT US<br/><br/>
        In accordance with applicable laws and regulations, you may request access to, or correct your personal information held by us, or inquire about our data protection policies and practices. For queries or concerns on data privacy, please contact our Data Protection Officer at dataprotection@farmbankph.com


      </div>
    </div>
  </div>

</section>

<%=render partial: 'shared/footer'%>