<%=render partial: 'shared/header'%>


<section id="hero" class="bg-gray-50 flex-grow flex flex-col items-center ">

  <div class="flex flex-col bg-white sm:bg-transparent items-center justify-center w-full py-10 px-6 md:py-20 max-w-7xl px-7">
    <h1 class="text-xl md:text-2xl font-semibold text-center text-gray-600">Terms and Conditions</h1>
    <div class="bg-white mt-10 p-6 sm:p-10 rounded-lg w-full sm:w-2/3 sm:shadow">
      <div class="w-full text-gray-600 text-base font-normal leading-loose">
        <h5>I. GENERAL <h5><br/>
        By signing these Terms and Conditions, you accept and are bound by the provisions set out herein.<br/><br/>
        I have read, understood and hereby agree to Farmbank (A Rural Bank), Inc.’s (“Farmbank”) terms and conditions for opening and maintaining a high yield time deposit account with Farmbank (“Time Deposit Account”), which may be amended from time to time and I agree to abide by the same. <br/><br/>
        By opening an account with Farmbank under these terms and conditions, I am fully aware that this involves the transmission of personal data, and information through the internet and I fully assume all risks involved relevant to this transaction.<br/><br/>
        
        <h5>II. ACCOUNT OPENING AND KYC</h5><br/>
        You agree to submit all requirements needed to open my Time Deposit Account to Farmbank. You also agree to submit any additional information as may be required by Farmbank. <br/><br/>
        You agree and understand that only after verification and validation of my information shall my Time Deposit Account be created and opened. <br/><br/>
        You agree that Farmbank has the discretion to reject, close automatically, freeze or place in an inoperative status my Time Deposit Account 1) if Farmbank has reasonable grounds to believe that the Time Deposit Account is being misused, or the Time Deposit Account was known subsequently to pose undue risks to the Farmbank, or (2) you<br/>
        You represent and warrant that you shall ensure that:<br/><br/>
        <p class="ml-6 sm:ml-10">a. You shall have have exclusive access to my Time Deposit Account information; and</p><br/>
        <p class="ml-6 sm:ml-10">b. All instructions given to Farmbank are complete and accurate.</p><br/>
        All instructions that we receive from you, whether in your personal capacity or as a juridical entity’s authorized representative, shall be deemed properly authorized and, as such, shall be valid. Farmbank shall not be held liable for carrying out such instructions.<br/><br/>

        <h5>III. HIGH YIELD TIME DEPOSIT</h5><br/>
        You shall deposit your funds, either by wire transfer or online transfer, to a nominated Farmbank bank account. You will receive a Time Deposit Certificate as confirmation that your funds have been credited to your Time Deposit Account.<br/><br/>
        Your Time Deposit Account shall be subject to applicable withholding tax rate, unless you present a certification or pertinent supporting documents acceptable to the Bank which state that you are exempted from corresponding tax.<br/><br/>
        Your Time Deposit Account may not be assigned/ transferred without the prior written consent of Farmbank.<br/><br/>

        <h5>IV. INTEREST</h5><br/>
        The Time Deposit Account shall earn interest net of applicable withholding tax if it meets the required minimum balance set by Farmbank. See applicable interest rate in Schedule A.<br/><br/>
        A check deposit shall begin earning interest only upon clearing.<br/><br/>
        Interest earned shall be credited to your account on a weekly basis.<br/><br/>

        <h5>V. STATEMENT OF ACCOUNT</h5><br/>
        You may request for  a statement of account from Farmbank and it shall be provided to you periodically either through electronic mail/e-mail to the e-mail address you provided.<br/><br/>

        <h5>VI. EARLY TERMINATION</h5><br/>
        If you wish to pre-terminate and withdraw your Time Deposit Account, you shall file a pre-termination request before Farmbank. Farmbank reserves the right to reject or grant your pre-termination request.<br/><br/>
        If your pre-termination request is granted, your Time Deposit Certificate will be canceled.<br/><br/>
        <b>Upon pre-termination, you will be able to withdraw your funds but your Time Deposit Account will now be treated as an ordinary savings account and all accrued interest under these Terms and Conditions shall be forfeited.</b><br/><br/>

        <h5>VII. MATURITY</h5><br/>
        Your Time Deposit Account shall mature on maturity date and you shall receive the principal amount and any accrued interest, net of any applicable fees and taxes, credited into your settlement account five (5) banking days from maturity date. The interest rates to be applied to your settlement account will be computed and credited to that account based on the rates and conditions, such as the deduction of taxes and fees, applicable on the date your funds were transferred to the settlement account.<br/><br/>
        You have the option to renew the maturity date of your Time Deposit Account by informing Farmbank five (5) business days prior to the maturity date.<br/><br/>

        <h5> VIII. PDIC </h5><br/>
        Applicable deposit accounts are insured by the Philippine Deposit Insurance Corporation (PDIC) up to a maximum of Five Hundred Thousand Pesos (P500,000.00) per depositor. The rules of the PDIC related to deposit shall apply. PDIC shall presume that the name/s appearing on the Time Deposit Certificate is/are the actual/beneficial owners of the deposit, except as provided therein.<br/><br/>

        <h5> IX. REFERRAL PROGRAM </h5><br/>

        Upon opening your Time Deposit Account, you may have the added benefit of earning more by participating in  Farmbank’s referral program for opening and maintaining a high yield time deposit account (“Referral Program”). <br/><br/>
        Under the Referral Program, you may refer any person (whether juridical or natural) to Farmbank (“Referrals”) for purposes of opening a High Yield Time Deposit Account. <br/><br/>
        To have a successful Referral under this Referral Program, it is mandatory that:<br/><br/>
        <p class="ml-6 sm:ml-10">a. the Referral should have successfully opened and funded a High Yield Time Deposit Account with Farmbank; and</p><br/>
        <p class="ml-6 sm:ml-10">b. Your referral code must be indicated in the Referral’s application form.</p><br/>
        It is your responsibility to remind the Referrals to indicate your referral code in the space provided in the application form. Only Referrers with indicated referral codes shall receive the incentives under the Referral Program.<br/><br/>
        For every successful referral, the total amount of all your Time Deposit Accounts shall receive a Referral Interest Boost as follows:<br/><br/>
        
        <table class="w-full sm:w-2/3 border border-black"> 
          <tr class="grid grid-cols-3">
            <th class="front-semibold col-span-2 py-2 border-b border-r px-3 border-black"> Referral’s Time Deposit Relative to Referrer’s Total Time Deposit Account Amount </th>
            <th class="front-semibold border-b py-2 flex items-center px-3 justify-center border-black">Referral Interest Boost</th>
          </tr>
          <tr class="grid grid-cols-3">
            <td class="front-semibold border-b border-r border-black pl-3">>100%</td>
            <td class="front-semibold"></td>
            <td class="front-semibold border-l border-b border-black pl-3">0.50%</td>
          </tr>
          <tr class="grid grid-cols-3">
            <td class="front-semibold border-b border-r border-black pl-3">100%</td>
            <td class="front-semibold"></td>
            <td class="front-semibold border-l border-b border-black pl-3">0.50%</td>
          </tr>
          <tr class="grid grid-cols-3">
            <td class="front-semibold border-b border-r border-black pl-3">75%</td>
            <td class="front-semibold"></td>
            <td class="front-semibold border-l border-b border-black pl-3">0.40%</td>
          </tr>
          <tr class="grid grid-cols-3">
            <td class="front-semibold border-b border-r border-black pl-3">50%</td>
            <td class="front-semibold row-span-4 text-center px-2">of Referrer’s Time Deposit</td>
            <td class="front-semibold border-l border-b border-black pl-3">0.30%</td>
          </tr>
          <tr class="grid grid-cols-3">
            <td class="front-semibold border-b border-r border-black pl-3 -mt-8">25%</td>
            <td class="front-semibold"></td>
            <td class="front-semibold border-l border-b border-black pl-3 -mt-8">0.20%</td>
          </tr>
          <tr class="grid grid-cols-3">
            <td class="front-semibold border-b border-r border-black pl-3">10%</td>
            <td class="front-semibold"></td>
            <td class="front-semibold border-l border-b border-black pl-3">0.10%</td>
          </tr>
          <tr class="grid grid-cols-3">
            <td class="front-semibold border-r border-black pl-3"> <10% </td>
            <td class="front-semibold"></td>
            <td class="front-semibold border-l  border-black pl-3">0.10%</td>
          </tr>
        </table>

        <br/>
        Referral Interest Boost shall be recalculated every week based on your Total Time Deposit Account Amount and your Referrals.<br/><br/>
        Should you open another time deposit balance with Farmbank, <br/>

        <h5>X. MISCELLANEOUS</h5><br/>
        <ol class="list-decimal ml-8 sm:ml-10">
          <li><b>Entire Agreement.</b> These Terms and Conditions shall prevail over any other terms and conditions related to the Time Deposit Accounts.</li><br/>
          <li><b>Limit of Liability.</b> Farmbank, its stockholders, directors, officers, employees, representatives, and third party service providers shall not be liable for any loss or damage of whatever kind or nature in connection with your Time Deposit Account  in the following instances:</li><br/>
          
          <ul class="list-none ml-8 sm:ml-10">
            <li><b>a.</b> Disruption, failure, or delay relating to or in connection with the services provided by Farmbank which are due to circumstances beyond our control, unforeseen events, or fortuitous events such as but not limited to pandemics, prolonged power outages, breakdown in computers, software, operating systems and telecommunication facilities, typhoons, floods, public disturbances, and calamities and other similar or related cases; </li><br/>
            <li><b>b.</b> your use or misuse of your account;</li><br/>
            <li><b>c.</b> any inaccurate, incomplete, or incorrect information you provided to Farmbank, or any fraud or misrepresentation on your part;</li><br/>
            <li><b>d.</b> Any indirect, incidental, or consequential loss, loss of profit or damage suffered by reason of the use or failure or inability to avail and/or maintain the Time Deposit Account;</li><br/>
            <li><b>e.</b> Any and all liability, costs, damages, losses and causes of action arising from or in any way connected with the disclosure of information concerning your Time Deposit Account and/or transactions with Farmbank to unauthorized persons beyond the control of Farmbank, including but not limited to wiretapping of communication lines or erroneous connection by telecommunication switches, or errors in transmitted information due to faulty lines, theft, and any and all forms of high technology surveillance or fraud.</li><br/>
            <li><b>f.</b> Any and all liability, costs, damages, losses and causes of action you may suffer resulting from errors, breakdown or failure of third-party systems which Farmbank is connected to or used by Farmbank in maintaining your Time Deposit Account.</li><br/>
          </ul>
          
          <li><b>Intellectual Property.</b> All worldwide rights, titles and interests in Farmbank, including their respective components and contents, belong to Farmbank accordingly. Any violation of this clause automatically grants us the right to terminate all your rights to the Services.</li><br/>
          <li><b>Customer Support.</b> For inquiries and complaints, you may contact <a class="underline font-farmbank-teal font-semibold" href="mailto:<%=farmbank_support_email%>"><%=farmbank_support_email%></a>. Farmbank is regulated by the Bangko Sentral ng Pilipinas <a class="underline font-farmbank-teal font-semibold" href="https://www.bsp.gov.ph" target="_blank">https://www.bsp.gov.ph</a>.</li><br/>
          <li><b>Changes to these Terms and Conditions.</b> Farmbank reserves the right to change any or all of these terms and conditions. It is your responsibility to keep yourself updated with these Terms and Conditions. Nevertheless, we will notify you of any such modification, amendment, or revision as soon as possible.  Any such modification, amendment or revision shall be valid and binding upon you on the date of effectivity specified in the notice.</li><br/>
          <li><b>Governing Law and Dispute Resolution.</b> These Terms and Conditions shall be governed by the laws of the Republic of the Philippines. Any issues or disputes arising from these Terms and Conditions shall be brought before the courts of Taguig City to the exclusion of all other courts.</li><br/>
        </ol>

        <h5>SCHEDULE A</h5><br/>

        <table class="w-full sm:w-2/3 border border-black"> 
          <tr class="grid grid-cols-2">
            <th class="front-semibold py-2 border-b border-r border-black"> Minimum Deposit </th>
            <th class="front-semibold border-b py-2 flex items-center justify-center border-black">Interest Rate</th>
          </tr>
          <tr class="grid grid-cols-2">
            <td class="front-semibold pl-3"> Php 100,000.00 </td>
            <td class="front-semibold border-l border-black pl-3"> 6%</td>
          </tr>
        </table>
        <br/><br/>
      
        Effective November 17, 2023.
      </div>
    </div>
  </div>

</section>

<%=render partial: 'shared/footer'%>