<%#
---
title: Eager highlighting method 1
description: This pattern is designed to make navigation feel instantaneous when using server side rendering. It uses the .shimmer class included in tonic.css to create a simple shimmer load effect. In this example I'm using simple nav classes (font-semibold underline), but we can use whatever classes we want. It is verbose and there is a little bit of duplication, but it is also super easy to maintain and understand, which is the goal of html first. Eager highlighting method 2 is a more up to date version of this pattern.
depends on: tailwind,hyperscript,tonic.css,htmx
core_js: hyperscript
type: eager_highlighting
---
%>

<div id="tabs" class="flex gap-x-2">
  <a _="on click remove .underline .font-semibold from <#tabs > a /> then add .underline .font-semibold to me then make <div.shimmer.h-32/> then put it into #tab-content" class="cursor-pointer font-semibold underline" hx-get="<%= remote_content_path(delay:"2",message:"This is Menu Item 1") %>" hx-target="#tab-content">Menu Item 1</a>
  <a _="on click remove .underline .font-semibold from <#tabs > a /> then add .underline .font-semibold to me then make <div.shimmer.h-32/> then put it into #tab-content" class="cursor-pointer" hx-get="<%= remote_content_path(delay:"2",message:"This is Menu Item 2") %>" hx-target="#tab-content">Menu Item 2</a>
  <a _="on click remove .underline .font-semibold from <#tabs > a /> then add .underline .font-semibold to me then make <div.shimmer.h-32/> then put it into #tab-content" class="cursor-pointer" hx-get="<%= remote_content_path(delay:"2",message:"This is Menu Item 3") %>" hx-target="#tab-content">Menu Item 3</a>
</div>

<div id="tab-content" class="mt-4">
  
</div>
  