<%#
---
title: HTML Datepicker
description: This uses a simple html-native onfocus attribute, and the default form styling from tonic.css
depends on: tonic.css,tailwind
core_js: vanilla
type: datepicker
canonical: true
---
%>

<form>
	<label for="datetime-picker" class="no-style font-semibold text-base">
		Pickup Time 
	</label>
	<input id="datetime-picker" type="datetime-local" onfocus="this.showPicker()" />
</form>