<%#
---
title: Hyperscript Accordion
description: This example uses hyperscript to create an animated accordion
depends on: hyperscript,tailwind
---
%>

<style type="text/css">
  .accordion section {
    grid-template-rows: 0fr 0fr;
  }
  .accordion section.active {
    grid-template-rows: 0fr 1fr;
  }
</style>

<div id="my-accordion" class="accordion" >
	<section id="about" class="grid transition-all border-gray-300 border border-b-0 rounded hover:bg-gray-100">
		<a _="on click remove .active from <#my-accordion > section /> then add .active to the closest <section/>" class="cursor-pointer font-bold p-4">About Us</a>
		<div class="overflow-hidden">
      <div class="p-4 pt-2">
			  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
      </div>
		</div>
	</section>

	<section id="contact-us" class="grid transition-all border-gray-300 border border-b-0 rounded hover:bg-gray-100">
		<a  _="on click remove .active from <#my-accordion > section /> then add .active to the closest <section/>"  class="cursor-pointer  font-bold p-4" >Contact Us</a>
		<div class="overflow-hidden">
      <div class="p-4 pt-2">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
      </div>
		</div>
	</section>

	<section id="team" class="grid transition-all border-gray-300 border rounded hover:bg-gray-100">
	  <a  _="on click remove .active from <#my-accordion > section /> then add .active to the closest <section/>" class="cursor-pointer  font-bold p-4">Team 3</a>
		<div class="overflow-hidden">
      <div class="p-4 pt-2">
			  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.
      </div>
		</div>
	</section>
</div>