<%#
---
title: Hyperscript Dropdown
description: This example uses hyperscript to create a simple dropdown.
depends on: hyperscript,tailwind
core_js: hyperscript
type: dropdown
canonical: true
---
%>

<div class="relative inline-block">  
  <a class="bg-indigo-600 hover:bg-indigo-800 transition-all text-white rounded px-3 py-2 cursor-pointer block " _="on click toggle .scale-0 .opacity-0 on #dropdown then toggle .scale-100 .opacity-100 on #dropdown" >
    Show Dropdown
  </a>
  <div id="dropdown" class="transition-all origin-top-right scale-0 opacity-0 absolute top-full left-0 right-0 z-10 ">
    <div class="bg-black text-white p-3 rounded-md mt-1  ">
      Content here  
    </div>
  </div>
</div>