<%#
---
title: Tippy tooltips
description: Tooltips have a meaningful amount of complexity - positioning, rich content, anchoring etc. While it is possible to have js-light tooltips, tippy is still our go-to for now.
depends on: tippy.js
---
%>

<div class="rounded shadow p-5" >
  <a class="inline cursor-pointer" data-tippy-content="This is the content">
    Basic Tooltip
    <span class="text-xs">(Hover to show)</span>
  </a>
</div>