<div style="width: 100%; padding-bottom: 1px; justify-content: center; align-items: center;">
  <div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word">
    Dear <%=@name%>,
  </div>
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word;  margin: 32px 0px;">
  Enter the one-time-password (OTP) below to verify your email address
</div>

<div style="width: 100%; color: black; font-size: 24px; font-family: Helvetica; font-weight: 600; word-wrap: break-word;  margin: 32px 0px;">
  <%=@otp.value%>
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word;  margin: 32px 0px;">
  For your account safety, please do not share this code with anyone.
</div>

