<div style="width: 100%; padding-bottom: 1px; justify-content: center; align-items: center;">
  <div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word">
    Dear <%=@name%>,
  </div>
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word;  margin: 32px 0px;">
  Welcome to Farmbank! We're glad to have you on board.
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word;  margin: 32px 0px;">
  To complete your account setup and ensure the security of your information, please use the following One-Time Password (OTP):
</div>

<div style="width: 100%; color: black; font-size: 24px; font-family: Helvetica; font-weight: 600; word-wrap: break-word;  margin: 32px 0px;">
  <%=@otp.value%>
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word;  margin: 32px 0px;">
  This OTP is only valid for 10 minutes and is required to verify your email/mobile number during the sign-up process.
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word;  margin: 32px 0px;">
  If you didn't request this code, please ignore this message and contact us immediately to secure your account.
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word;  margin: 32px 0px;">
  Thank you for choosing Farmbank, where your financial growth is our priority.
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word;  margin: 32px 0px;">
  Best regards,
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word;  margin: 32px 0px;">
  The Farmbank Team
</div>