<div class="p-4 rounded bg-gray-100 ">
  This content was loaded by HTMX asynchronously after the page was loaded. Use this pattern for content that might slow down the response time but that doesn't need to be immediately visible. 
</div>