
<div class="container m-auto">

  <div class="text-2xl font-bold border-b border-gray-400 my-5">Editmode Rails Examples</div>

  <div class="text-lg font-bold">Render the content of a single chunk</div>
  <div class="shadow p-6 rounded mb-5">
    <%= e("cnk_b6d6754b2cf6c59a7847") %>
  </div>

  <div class="text-lg font-bold">Render the content of a single chunk (content key method)</div>

  <div class="shadow p-6 rounded mb-5">
    <%= e("simple_chunk_example") %>
  </div>

</div>