
<div class="absolute bottom-0 pb-3 pl-3 left-0 right-0">
  <div class="container w-64 m-auto">
    <a class="text-purple-500" href="<%= editmode_examples_path%>">Editmode Rails Examples</a>
  </div>
</div>