

<div class="flex items-center justify-center">
  <div class="m-auto rounded shadow w-full p-10" style="max-width:1200px">
    <div class="format-text">
      <%= @content.html_safe %>
    </div>
  </div>
</div>