<link rel="stylesheet" href="https://cdn.toniclabs.ltd/dumb-tailwind.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;600;900&display=swap" rel="stylesheet">

<div id="og-image" style="background:linear-gradient(180deg,#d5e7f7 0%,#ffffff 20%);background-repeat: repeat-x; background-position:top; background-attachment:fixed;font-family: 'Outfit';width:1200px;height:630px" class="relative bg-gray-100 flex items-center justify-center border-b-8 border-blue-600 flex-col">
  <img src="/images/html-first-icon.png" style="width:170px" class="mt-6 mr-6 rounded-full" />
  <div class="flex flex-col gap-y-2 p-12">
    
    <div class="font-bold" style="color:#377bec;font-size: 100px;line-height:120px;display: -webkit-box;-webkit-line-clamp: 2; /* number of lines to show */-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;">
      HTML FIRST
    </div>
  </div>
</div>