
<%- @disable_left_menu = true %>
<div class="flex items-center justify-center w-screen h-screen">
  <div class="saia-widget-container"></div>
  <script id="saia-mtm-integration" async src="https://mtm-widget.3dlook.me/integration.js" data-public-key="NjYwMw:1qWvjG:MYLFMk3F69nwq_VKt5zh3h8Wols">
  </script>
</div>