<div class="w-full mx-auto mb-4 flex items-center justify-center">
  <img src="images/search.svg" alt="">
</div>

<h1 class="self-start text-3xl font-semibold">We are currently verifying your documents.</h1>

<div class="self-start my-4">
  <h4 class="pb-2 text-xl font-semibold">What is Verification?</h4>
  <p> Verification is the process of reviewing all the information and documents you submitted to us. This is done to ensure that your information with us is accurate.  </p>
</div>

<div class="self-start my-4">
  <h4 class="pb-2 text-xl font-semibold">What happens during Verification?</h4>
  <p>If we find any information and/or document to be inaccurate, we will advise you about the information or document that needs re-submission and how to do so. Can I still use my account during Verification? Yes, you can. You will still be able to add funds, but the amount will be credited to your account only after verification.</p>
</div>

<div class="self-start my-4">
  <h4 class="pb-2 text-xl font-semibold"> Can I still use my account during Verification?</h4>
  <p>Yes, you can. You will still be able to add funds, but the amount will be credited to your account only after verification.</p>
</div>

<button _="on click add .hidden to #default-modal" class="flex items-center mt-6 justify-center mx-auto w-full py-3 space-x-2 font-bold text-center text-white transition-all bg-farmbank-yellow rounded-full  sm:py-3 sm:w-80 hover:bg-yellow-500">
	Got It
 
</button>