<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonyennis145/dumb-tailwind@69b2513/dist/tailwind.css" />
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/lota-grotesque-alt-1">
    <style>
        *{
            margin: 0;
            padding: 0;
            font-family: 'Lota Grotesque', sans-serif;
        }
    </style>
</head>

<body>
    <!-- <section id="bank-account" class="flex items-center justify-center w-screen h-screen ">
        <div class="flex flex-col items-center justify-between get-started">
            <div class="relative flex items-center justify-center w-full form-title-wrapper">
                <svg class="absolute left-0 cursor-pointer " width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.26963 20.6933L0.686817 11.7355C0.477332 11.5187 0.373316 11.2377 0.373316 10.9578C0.373316 10.678 0.477332 10.3967 0.686817 10.1802L9.26963 1.22234C9.69863 0.772625 10.4106 0.758001 10.8587 1.18866C11.3099 1.61639 11.3245 2.33147 10.8924 2.77819L3.01738 11.0001L10.891 19.1375C11.3232 19.5828 11.3085 20.2991 10.8573 20.727C10.4092 21.1578 9.69619 21.1428 9.26963 20.6933Z"
                        fill="#409384" />
                </svg>

                <h1 class="form-title">Before you go further</h1>
            </div>
            <div class="flex flex-col items-center justify-between py-8 my-8 text-center group md">
                <img src="./images/sammy-teamwork 1.png" alt="">
                <h1 >Opening an account is easy.<br>
                    Here’s what you’ll need:</h1>
                <ul class="w-full mx-16 text-left capitalize list-disc" >
                    <li> valid government ID, which includes your full name, address, and specimen signature.</li>
                    <li>Tax Identification Number</li>
                    <li>SSS/GSIS Number</li>
                </ul>
            </div>
            <hr class="hidden">
            <a href="#" class="btn">Get Started</a>
        </div>
    </section> -->
  
  
    <section class="flex items-center justify-center w-screen min-h-screen sm:bg-gray-100 ">
        <div class="flex flex-col items-center justify-between h-full mx-6 get-started w-md sm:h-auto py-9 sm:w-2/3 sm:max-w-xl">
            <div class="relative flex items-center justify-center w-full">
                <svg class="absolute left-0 cursor-pointer " width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.26963 20.6933L0.686817 11.7355C0.477332 11.5187 0.373316 11.2377 0.373316 10.9578C0.373316 10.678 0.477332 10.3967 0.686817 10.1802L9.26963 1.22234C9.69863 0.772625 10.4106 0.758001 10.8587 1.18866C11.3099 1.61639 11.3245 2.33147 10.8924 2.77819L3.01738 11.0001L10.891 19.1375C11.3232 19.5828 11.3085 20.2991 10.8573 20.727C10.4092 21.1578 9.69619 21.1428 9.26963 20.6933Z"
                        fill="#409384" />
                </svg>

                <h1 class="text-2xl font-semibold text-gray-700">Before you go further</h1>
            </div>
            <div class="flex flex-col items-center justify-between py-8 my-8 text-center rounded-md shadow-md sm:bg-white">
                <img src="./images/sammy-teamwork 1.png" alt="">
                <h1 class="text-2xl font-bold text-gray-700 my-9" >Opening an account is easy.<br>
                    Here’s what you’ll need:</h1>
                <ul class="relative w-10/12 leading-8 text-left text-gray-600 capitalize list-disc left-3" >
                    <li>1 valid government ID, which includes your full name, address, and specimen signature.</li>
                    <li>Tax Identification Number</li>
                    <li>SSS/GSIS Number</li>
                </ul>
            </div>
            <hr class="absolute w-full h-1 bg-slate-400 bottom-28 sm:hidden" >
            <a href="./2. name.html" class="w-full py-4 font-bold text-center text-white bg-yellow-400 rounded-full sm:py-3 sm:w-80">Get Started</a>
        </div>
    </section>
</body>

</html>