<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonyennis145/dumb-tailwind@69b2513/dist/tailwind.css" />
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/lota-grotesque-alt-1">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Lota Grotesque', sans-serif;
        }
    </style>
</head>

<body>
    <section class="flex items-center justify-center w-screen min-h-screen sm:bg-gray-100 ">
        <div class="flex flex-col items-center justify-between w-full min-h-screen sm:w-2/3 sm:max-w-xl sm:justify-start ">
            <div class="relative flex items-center justify-center w-full pb-8 pt-14">
                <svg class="absolute cursor-pointer left-8 sm:left-0 " width="12" height="22" viewBox="0 0 12 22"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.26963 20.6933L0.686817 11.7355C0.477332 11.5187 0.373316 11.2377 0.373316 10.9578C0.373316 10.678 0.477332 10.3967 0.686817 10.1802L9.26963 1.22234C9.69863 0.772625 10.4106 0.758001 10.8587 1.18866C11.3099 1.61639 11.3245 2.33147 10.8924 2.77819L3.01738 11.0001L10.891 19.1375C11.3232 19.5828 11.3085 20.2991 10.8573 20.727C10.4092 21.1578 9.69619 21.1428 9.26963 20.6933Z"
                        fill="#409384" />
                </svg>

                <h1 class="text-2xl font-semibold text-gray-700">Signature Specimen</h1>
            </div>
            <div class="w-full h-2 mb-6 bg-gray-300 ">
                <div class="w-8 h-full bg-green-600"></div>
            </div>
            <form class="flex flex-col items-start justify-start w-full h-full px-8 mb-auto sm:mb-0 space-y-8 sm:shadow-md py-7 sm:bg-white sm:h-auto sm:rounded-md">
                <h4 class="mb-1 text-lg font-semibold text-gray-600">Upload 1 specimen signature signed on a piece of white paper.</h4>
                
                <div class="flex flex-col items-start justify-center w-full ">
                    <label class="mb-2 text-base font-normal text-gray-500" for="tax-identification-number">Please make sure your specimen signature is the same as in the government ID to be submitted to Farmbank.</label>
                    <input class="w-full p-4 my-1 border-2 outline-none focus:border-blue-100 focus:border" type="file"
                        id="tax-identification-number" placeholder="Tax Identification Number">
                        <p class="mt-2 text-xs font-light tracking-wide">PNG, JPG or PDF</p>

                </div> 
       

            </form>
            <div class="flex items-center justify-center w-full px-8 py-8 border-t sm:border-t-0">
                <!-- <a href="#" class="block w-full py-3 font-bold text-center text-white bg-gray-300 rounded-full sm:py-3 sm:w-80">Next</a> -->
                <a href="./15 signature specimen.html"
                    class="block w-full py-3 font-bold text-center text-white transition-all bg-yellow-400 rounded-full sm:py-3 sm:w-80 hover:bg-yellow-500 ">Next</a>

            </div>
        </div>
    </section>
</body>

</html>