<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonyennis145/dumb-tailwind@69b2513/dist/tailwind.css" />
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/lota-grotesque-alt-1">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Lota Grotesque', sans-serif;
        }
    </style>
</head>

<body class="overflow-x-hidden">
    <section class="flex items-center justify-center w-screen sm:bg-gray-100 ">
        <div class="flex flex-col items-center justify-between w-full  sm:w-2/3 sm:max-w-xl sm:justify-start ">
            <div class="relative flex items-center justify-center w-full pb-8 pt-14">
                <svg class="absolute cursor-pointer left-8 sm:left-0 " width="12" height="22" viewBox="0 0 12 22"
                    fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.26963 20.6933L0.686817 11.7355C0.477332 11.5187 0.373316 11.2377 0.373316 10.9578C0.373316 10.678 0.477332 10.3967 0.686817 10.1802L9.26963 1.22234C9.69863 0.772625 10.4106 0.758001 10.8587 1.18866C11.3099 1.61639 11.3245 2.33147 10.8924 2.77819L3.01738 11.0001L10.891 19.1375C11.3232 19.5828 11.3085 20.2991 10.8573 20.727C10.4092 21.1578 9.69619 21.1428 9.26963 20.6933Z"
                        fill="#409384" />
                </svg>

                <h1 class="text-2xl font-semibold text-gray-700">Summary Screen</h1>
            </div>
            <div class="w-full h-2 mb-6 bg-gray-300 ">
                <div class="w-8 h-full bg-green-600"></div>
            </div>
            <form
            class="flex flex-col items-start justify-start w-full  px-8 space-y-8 py-9 sm:bg-white sm:h-auto sm:rounded-md sm:shadow-md ">
            
            <h4 class="self-start sm:px-0 -mt-4 sm:-m-4 text-2xl font-bold text-gray-600">Are these details correct?</h4>


                <div class="flex flex-col items-center justify-center w-full ">
                    <div class="flex items-center justify-between w-full">
                    <p class="mb-2 text-base font-normal text-gray-500" for="referral-code">Legal Name</p>
                        <p class="font-bold tracking-wide text-green-600 cursor-pointer hover:underline">Edit</p>
                    </div>
                    <div class="flex flex-col items-stretch justify-center w-full p-6 space-y-5 bg-gray-100 rounded-2xl">
                        <div class="w-full space-y-0.5">
                            <p class="text-gray-500 ">Full Name</p>
                            <h5 class="font-bold tracking-wide text-gray-700 ">Jimam Tamimi</h5>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col items-center justify-center w-full ">
                    <div class="flex items-center justify-between w-full">
                    <p class="mb-2 text-base font-normal text-gray-500" for="referral-code">Mobile Number</p>
                        <p class="font-bold tracking-wide text-green-600 cursor-pointer hover:underline">Edit</p>
                    </div>
                    <div class="flex flex-col items-stretch justify-center w-full p-6 space-y-5 bg-gray-100 rounded-2xl">
                        <div class="w-full">
                            <h5 class="font-bold tracking-wide text-gray-700 ">01748574837</h5>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center w-full ">
                    <div class="flex items-center justify-between w-full">
                    <p class="mb-2 text-base font-normal text-gray-500" for="referral-code">Email Address</p>
                        <p class="font-bold tracking-wide text-green-600 cursor-pointer hover:underline">Edit</p>
                    </div>
                    <div class="flex flex-col items-stretch justify-center w-full p-6 space-y-5 bg-gray-100 rounded-2xl">
                        <div class="w-full">
                            <h5 class="font-bold tracking-wide text-gray-700 ">jimamtamimi12@gmail.com</h5>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center w-full ">
                    <div class="flex items-center justify-between w-full">
                    <p class="mb-2 text-base font-normal text-gray-500" for="referral-code">Residential Address</p>
                        <p class="font-bold tracking-wide text-green-600 cursor-pointer hover:underline">Edit</p>
                    </div>
                    <div class="flex flex-col items-stretch justify-center w-full p-6 space-y-5 bg-gray-100 rounded-2xl">
                        <div class="w-full space-y-1">
                            <p class="text-gray-500 ">Complete Address</p>

                            <h5 class="font-bold tracking-wide text-gray-700 ">Unit 12A Morgan Residences, Pinagsama, Taguig, Metro Manila, Philippines</h5>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center w-full ">
                    <div class="flex items-center justify-between w-full">
                    <p class="mb-2 text-base font-normal text-gray-500" for="referral-code">Work Information</p>
                        <p class="font-bold tracking-wide text-green-600 cursor-pointer hover:underline">Edit</p>
                    </div>
                    <div class="flex flex-col items-stretch justify-center w-full p-6 space-y-5 bg-gray-100 rounded-2xl">
                        <div class="w-full space-y-1">
                            <p class="text-gray-500 ">Occupation</p>
                            <h5 class="font-bold tracking-wide text-gray-700 ">Product Designer</h5>
                        </div>
                        <div class="w-full space-y-1">
                            <p class="text-gray-500 ">Employer's Name</p>
                            <h5 class="font-bold tracking-wide text-gray-700 ">Jimam Tamimi</h5>
                        </div>
                        <div class="w-full space-y-1">
                            <p class="text-gray-500 ">Employer's Address</p>
                            <h5 class="font-bold tracking-wide text-gray-700 ">2F Neo Building, BGC Taguig</h5>
                        </div>
                        <div class="w-full space-y-1">
                            <p class="text-gray-500 ">Employer's Contact Information</p>
                            <h5 class="font-bold tracking-wide text-gray-700 ">034554567</h5>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center w-full ">
                    <div class="flex items-center justify-between w-full">
                    <p class="mb-2 text-base font-normal text-gray-500" for="referral-code">Financial Information</p>
                        <p class="font-bold tracking-wide text-green-600 cursor-pointer hover:underline">Edit</p>
                    </div>
                    <div class="flex flex-col items-stretch justify-center w-full p-6 space-y-5 bg-gray-100 rounded-2xl">
                        <div class="w-full space-y-1">
                            <p class="text-gray-500 ">Source of Funds</p>
                            <h5 class="font-bold tracking-wide text-gray-700 ">Salary</h5>
                        </div>
                        <div class="w-full space-y-1">
                            <p class="text-gray-500 ">Gross Monthly Income</p>
                            <h5 class="font-bold tracking-wide text-gray-700 ">PHP 100,000.00</h5>
                        </div> 
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center w-full ">
                    <div class="flex items-center justify-between w-full">
                    <p class="mb-2 text-base font-normal text-gray-500" for="referral-code">Identification Number</p>
                        <p class="font-bold tracking-wide text-green-600 cursor-pointer hover:underline">Edit</p>
                    </div>
                    <div class="flex flex-col items-stretch justify-center w-full p-6 space-y-5 bg-gray-100 rounded-2xl">
                        <div class="w-full space-y-1">
                            <p class="text-gray-500 ">Tax Identification Number</p>
                            <h5 class="font-bold tracking-wide text-gray-700 ">123 546 657</h5>
                        </div> 
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center w-full ">
                    <div class="flex items-center justify-between w-full">
                    <p class="mb-2 text-base font-normal text-gray-500" for="referral-code">Upload Id</p>
                        <p class="font-bold tracking-wide text-green-600 cursor-pointer hover:underline">Edit</p>
                    </div>
                    <div class="flex flex-col items-stretch justify-center w-full p-6 space-y-5 bg-gray-100 rounded-2xl">
                        <div class="flex flex-col items-center justify-center w-full space-y-1">
                            <img class="w-80" src="./images/id card.png" alt="">
                        </div> 
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center w-full ">
                    <div class="flex items-center justify-between w-full">
                    <p class="mb-2 text-base font-normal text-gray-500" for="referral-code">Signature Specimen</p>
                        <p class="font-bold tracking-wide text-green-600 cursor-pointer hover:underline">Edit</p>
                    </div>
                    <div class="flex flex-col items-stretch justify-center w-full p-6 space-y-5 bg-gray-100 rounded-2xl">
                        <div class="flex flex-col items-center justify-center w-full space-y-1">
                            <img class="w-80" src="./images/signature.png" alt="">
                        </div> 
                    </div>
                </div>

                
                <div class="flex flex-col items-center justify-center w-full ">
                    <div class="flex items-center justify-between w-full">
                    <p class="mb-2 text-base font-normal text-gray-500" for="referral-code">Security Question</p>
                        <p class="font-bold tracking-wide text-green-600 cursor-pointer hover:underline">Edit</p>
                    </div>
                    <div class="flex flex-col items-stretch justify-center w-full p-6 space-y-5 bg-gray-100 rounded-2xl">
                        <div class="w-full space-y-0.5">
                            <p class="text-gray-500 ">What is the name of your spouse</p>
                            <h5 class="font-bold tracking-wide text-gray-700 ">Jane doe</h5>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col items-center justify-center w-full ">
                    <div class="flex items-center justify-between w-full">
                    <p class="mb-2 text-base font-normal text-gray-500" for="referral-code">Referral Program Question</p>
                        <p class="font-bold tracking-wide text-green-600 cursor-pointer hover:underline">Edit</p>
                    </div>
                    <div class="flex flex-col items-stretch justify-center w-full p-6 space-y-5 bg-gray-100 rounded-2xl">
                        <div class="w-full space-y-0.5">
                            <p class="text-gray-500 ">Referral Name or Code</p>
                            <h5 class="font-bold tracking-wide text-gray-700 ">FRIFRG854</h5>
                        </div>
                    </div>
                </div>

            </form>
            <div class="flex flex-col justify-center  space-y-6 items-center text-center w-full px-8 py-8 border-t">
                <!-- <a href="#" class="block w-full py-3 font-bold text-center text-white bg-gray-300 rounded-full sm:py-3 sm:w-80">Next</a> -->
                <p class="text-gray-500 px-6 tracking-wide leading-relaxed">By clicking "Submit and Continue" you have read and agreed to Farmbank's <br> <a href="#" class="text-yellow-300 hover:text-yellow-400 transition-all ">Terms and Conditions</a></p>
                <a href="./4 otp.html"
                    class="block w-full py-3 font-bold text-center text-white transition-all bg-yellow-400 rounded-full sm:py-3 sm:w-80 hover:bg-yellow-500 ">Submit and Continue</a>

            </div>
        </div>
    </section>
</body>

</html>