!
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/lota-grotesque-alt-1">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Lota Grotesque', sans-serif;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonyennis145/dumb-tailwind@69b2513/dist/tailwind.css" />
</head>

<body>
    <section style="width: 480px;" class="flex flex-col items-stretch justify-center shadow-md   mx-auto">
        
        <div style="background-color: #409384;" class="w-full h-4 rounded-t-2xl"></div>
        <div style="background-color: #374151;" class="p-5">
            <img src="./images/email template logo.png" alt="">
        </div>
        <p class="px-6 leading-snug mt-10"> 
            Hey John Doe, <br> <br>
            Enter the one-time-password (OTP) below to verify your email address</p>
        <b class="my-4 px-6">212491</b>
        <p class="px-6">For your account safety, please do not share this code with anyone.</p>
        <p class="bg-gray-50 p-6 text-center text-xs  text-gray-500 tracking-wide mt-8 ">
            Farmbank <br>
            Teodoro R Arcenas Trade Center, Roxas City <br> <br>

            If you need any help, please email support@farmbank.com or <br>
            call +632 XXXX-XXXX

        </p>
    </section>
</body>

</html>