<div style="width: 100%; padding-bottom: 1px; justify-content: center; align-items: center;">
  <div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word">
    Dear <%=@name%>,
  </div>
</div>

<div style="width: 100%; color: black; font-size: 24px; margin: 32px 0px; font-family: Helvetica; font-weight: 700; line-height: 32px; word-wrap: break-word; display: inline-flex;">
  Additional information is needed to set up your Farmbank account &#128450;
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word">
  Thank you for choosing Farmbank. 
  <br/><br/>
  We are in the process of verifying your new account and need additional information to complete the process successfully.
  <br/><br/>
  Required information:
  <ul style="list-style-type: disc; padding-left: 20px;">
    <li>Proof of address (e.g., recent utility bill)</li>
    <li>Photo ID (e.g., driver's License or passport)</li>
  </ul>
  <br/>
  Please upload these documents directly through our secure portal <a href="#" style="color: #298D7B; font-weight: bold"> here</a>, or you can email them to us at <a href="mailto:<%=ENV.fetch('DEFAULT_FROM_EMAIL')%>" style="color: #298D7B; font-weight: bold"><%=ENV.fetch('DEFAULT_FROM_EMAIL')%></a>.
</div>


<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word">
  <br/><br/>
  For any assistance, feel free to contact our support team.
  <br/><br/>
  Thank you for your cooperation.
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word">
  <br/><br/>
  Best regards, 
  <br/><br/>
  The Farmbank Team
</div>