<div style="width: 100%; padding-bottom: 1px; justify-content: center; align-items: center;">
  <div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word">
    Dear <%=@name%>,
  </div>
</div>

<div style="width: 100%; color: black; font-size: 24px; margin: 32px 0px; font-family: Helvetica; font-weight: 700; line-height: 32px; word-wrap: break-word; display: inline-flex;">
  Your Farmbank account has successfully been verified! <span style="margin-left: 5px">&#9989;</span>
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word">
  Thank you for opening an account with us. You can now enjoy full access to your Farmbank account! 
  <br/>
  <br/>
  Click here to add funds to your account:
</div>

<div style="width: 100%; display: flex; justify-content: center; margin: 32px 0px;">
  <%=link_to 'Add funds', add_funds_url, target: "_blank",  style: "display: block; margin: 0 auto; text-decoration: none; color: white; font-size: 16px; font-weight: 600; font-family: Helvetica; line-height: 32px; word-wrap: break-word; padding-left: 25%; padding-right: 25%; padding-top: 8px; padding-bottom: 8px; background: #E7AE44; border-radius: 32px; overflow: hidden; justify-content: center; align-items: center;" %>
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word">
  Did you know that you can get a 0.5% interest rate increase for every referral on ALL time deposits? Find out how it works <a style="color: #409384; font-weight: 600">here</a>.
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word">
  <br/><br/>
  Warm regards, 
  <br/><br/>
  The Farmbank Team
</div>